@font-face {
    font-family: 'Soyuz Grotesk';
    src: url('/static/fonts/SoyuzGroteskBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Soyuz Grotesk', sans-serif;
}