<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать питомца</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        @font-face {
            font-family: 'Soyuz Grotesk';
            src: url('{% static "fonts/SoyuzGroteskBold.otf" %}') format('opentype');
            font-weight: bold;
            font-style: normal;
        }
        body, h1, h2, h3, h4, h5, h6, p, a, button {
            font-family: 'Soyuz Grotesk', sans-serif;
        }
        .navbar-custom {
            background-color:rgb(112, 41, 245);
            display: flex;
            justify-content: space-between;
        }
        .navbar-custom .navbar-brand {
            color:rgb(255, 251, 0);
        }
        .navbar-button {
            font-size:  14px;
            margin-left: auto;
        }
        .element_1 {
            margin-bottom: 10px;
        }
        .element_2 {
            margin-bottom: 60px;
        }
        .element_3 {
            margin-bottom: 30px;
        }
        .form-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
            text-align: left;
        }
        .form-container input, .form-container textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-container button {
            width: 100%;
            padding: 10px;
            background-color:rgb(112, 41, 245);
            color: rgb(255, 251, 0);
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .form-container .errorlist {
            color: red;
            text-align: left;
            list-style-type: none;
            padding-left: 0;
        }
        .form-container .errorlist li {
            margin-bottom: 5px;
        }
        .file-input-wrapper {
            position: relative;
            display: inline-block;
            width: 100%;
            border:none;
            border-radius: 5px;
            background-color:rgb(112, 41, 245);
            color: rgb(255, 251, 0);
            text-align: center;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const categorySelect = document.getElementById('id_category');
            const familySelect = document.getElementById('id_family');
            const breedSelect = document.getElementById('id_breed');

            const familyChoices = {
                'Домашнее': [
                    ['Кошки', 'Кошки'],
                    ['Собаки', 'Собаки'],
                    ['Парнокопытные-Коровы','Парнокопытные-Коровы'],
                    ['Парнокопытные-Овцы','Парнокопытные-Овцы'],
                    ['Парнокопытные-Козы','Парнокопытные-Козы'],
                    ['Парнокопытные-Буйволы','Парнокопытные-Буйволы'],
                    ['Парнокопытные-Дромедары','Парнокопытные-Дромедары'],
                    ['Парнокопытные-Бактрианы','Парнокопытные-Бактрианы'],
                    ['Парнокопытные-Ламы','Парнокопытные-Ламы'],
                    ['Парнокопытные-Альпаки','Парнокопытные-Альпаки'],
                    ['Парнокопытные-Северные олени','Парнокопытные-Северные олени'],
                    ['Непарнокопытные','Непарнокопытные'],
                    ['Кролики','Кролики'],
                    ['Грызуны', 'Грызуны'],
                    ['Фретка', 'Фретка'],
                    ['Птицы-курообразные', 'Птицы-курообразные'],
                    ['Птицы-гусеобразные', 'Птицы-гусеобразные'],
                    ['Птицы-голубеобразные', 'Птицы-голубеобразные'],
                ],
                'Дикое': [
                    ['Рептилии', 'Рептилии'],
                    ['Другое', 'Другое'],
                ],
            }

            const breedChoices = {
                'Кошки': [
                    ['Абиссинская','Абиссинская'],
                    ['Австралийский мист','Австралийский мист'],
                    ['Азиатская','Азиатская'],
                    ['Американская жесткошерстная','Американская жесткошерстная'],
                    ['Американский керл','Американский керл'],
                    ['Балийская','Балийская'],
                    ['Беспородная кошка','Беспородная кошка'],
                    ['Бенгальская','Бенгальская'],
                    ['Бирманская','Бирманская'],
                    ['Бомбейская','Бомбейская'],
                    ['Британская длинношерстная','Британская длинношерстная'],
                    ['Британская короткошерстная','Британская короткошерстная'],
                    ['Бурманская','Бурманская'],
                    ['Бурмилла','Бурмилла'],
                    ['Гавана','Гавана'],
                    ['Девон-рекс','Девон-рекс'],
                    ['Египетский мау','Египетский мау'],
                    ['Камышовая','Камышовая'],
                    ['Као-мани','Као-мани'],
                    ['Кимрик','Кимрик'],
                    ['Корат','Корат'],
                    ['Корниш-рекс','Корниш-рекс'],
                    ['Лаперм','Лаперм'],
                    ['Манчкин','Манчкин'],
                    ['Мейн-кун', 'Мейн-кун'],
                    ['Мэнкс','Мэнкс'],
                    ['Нибелунг','Нибелунг'],
                    ['Норвежская лесная','Норвежская лесная'],
                    ['Ориентальная (восточная) длинношерстная','Ориентальная (восточная) длинношерстная'],
                    ['Ориентальная (восточная) короткошерстная','Ориентальная (восточная) короткошерстная'],
                    ['Оцикет','Оцикет'],
                    ['Персидская длинношерстная','Персидская длинношерстная'],
                    ['Пиксибоб','Пиксибоб'],
                    ['Русская голубая','Русская голубая'],
                    ['Рэгдолл','Рэгдолл'],
                    ['Саванна','Саванна'],
                    ['Селкирк-рекс','Селкирк-рекс'],
                    ['Сиамская', 'Сиамская'],
                    ['Сибирская лесная','Сибирская лесная'],
                    ['Сингапура','Сингапура'],
                    ['Сноу-шу','Сноу-шу'],
                    ['Сомалийская','Сомалийская'],
                    ['Сфинкс', 'Сфинкс'],
                    ['Тайская','Тайская'],
                    ['Тойгер','Тойгер'],
                    ['Тонкинская','Тонкинская'],
                    ['Турецкий ван','Турецкий ван'],
                    ['Хайленд-страйт','Хайленд-страйт'],
                    ['Шантильи-тиффани','Шантильи-тиффани'],
                    ['Шартрез','Шартрез'],
                    ['Шиншилла','Шиншилла'],
                    ['Шотландская вислоухая','Шотландская вислоухая'],
                    ['Шотландская прямоухая','Шотландская прямоухая'],
                    ['Экзотическая короткошерстная','Экзотическая короткошерстная'],
                    ['Японский бобтейл длинношерстный','Японский бобтейл длинношерстный'],
                    ['Японский бобтейл короткошерстный','Японский бобтейл короткошерстный'],
                ],
                'Собаки': [
                    ['Австралийская овчарка','Австралийская овчарка'],
                    ['Австралийская пастушья собака','Австралийская пастушья собака'],
                    ['Азавак','Азавак'],
                    ['Акита-ину','Акита-ину'],
                    ['Алабай','Алабай'],
                    ['Аляскинский кли-кай','Аляскинский кли-кай'],
                    ['Аляскинский маламут','Аляскинский маламут'],
                    ['Американская акита','Американская акита'],
                    ['Американский бандог','Американский бандог'],
                    ['Американский булли','Американский булли'],
                    ['Американский бульдог','Американский бульдог'],
                    ['Американский голый терьер','Американский голый терьер'],
                    ['Американский кокер-спаниель','Американский кокер-спаниель'],
                    ['Американский стаффордширский терьер','Американский стаффордширский терьер'],
                    ['Английский бульдог','Английский бульдог'],
                    ['Английский кокер-спаниель','Английский кокер-спаниель'],
                    ['Английский мастиф','Английский мастиф'],
                    ['Английский пойнтер','Английский пойнтер'],
                    ['Английский сеттер','Английский сеттер'],
                    ['Английский той-терьер','Английский той-терьер'],
                    ['Английский фоксхаунд','Английский фоксхаунд'],
                    ['Аппенцеллер зенненхунд','Аппенцеллер зенненхунд'],
                    ['Аргентинский дог','Аргентинский дог'],
                    ['Афганская борзая','Афганская борзая'],
                    ['Аффенпинчер','Аффенпинчер'],
                    ['Банхар','Банхар'],
                    ['Басенджи','Басенджи'],
                    ['Бассет-хаунд','Бассет-хаунд'],
                    ['Бедлингтон-терьер','Бедлингтон-терьер'],
                    ['Белая швейцарская овчарка','Белая швейцарская овчарка'],
                    ['Бельгийская овчарка','Бельгийская овчарка'],
                    ['Бельгийский гриффон','Бельгийский гриффон'],
                    ['Бернский зенненхунд','Бернский зенненхунд'],
                    ['Беспородная собака','Беспородная собака'],
                    ['Бивер-йоркширский терьер','Бивер-йоркширский терьер'],
                    ['Бигль','Бигль'],
                    ['Бишон фризе','Бишон фризе'],
                    ['Бладхаунд','Бладхаунд'],
                    ['Бобтейл','Бобтейл'],
                    ['Боксер','Боксер'],
                    ['Большой швейцарский зенненхунд','Большой швейцарский зенненхунд'],
                    ['Бордер-колли','Бордер-колли'],
                    ['Бордер-терьер','Бордер-терьер'],
                    ['Бордоский дог','Бордоский дог'],
                    ['Босерон','Босерон'],
                    ['Бостон-терьер','Бостон-терьер'],
                    ['Бретонский эпаньоль','Бретонский эпаньоль'],
                    ['Бриар','Бриар'],
                    ['Брюссельский гриффон','Брюссельский гриффон'],
                    ['Бульмастиф','Бульмастиф'],
                    ['Бультерьер','Бультерьер'],
                    ['Бурбуль','Бурбуль'],
                    ['Веймаранер','Веймаранер'],
                    ['Вельш-корги кардиган','Вельш-корги кардиган'],
                    ['Вельш-корги пемброк','Вельш-корги пемброк'],
                    ['Вельштерьер','Вельштерьер'],
                    ['Венгерская выжла','Венгерская выжла'],
                    ['Вест-хайленд-уайт-терьер','Вест-хайленд-уайт-терьер'],
                    ['Восточно-сибирская лайка','Восточно-сибирская лайка'],
                    ['Восточноевропейская овчарка','Восточноевропейская овчарка'],
                    ['Гаванский бишон','Гаванский бишон'],
                    ['Гампр','Гампр'],
                    ['Грейхаунд','Грейхаунд'],
                    ['Далматин','Далматин'],
                    ['Джек-рассел-терьер','Джек-рассел-терьер'],
                    ['Дирхаунд','Дирхаунд'],
                    ['Доберман','Доберман'],
                    ['Дратхаар','Дратхаар'],
                    ['Западно-сибирская лайка','Западно-сибирская лайка'],
                    ['Золотистый ретривер','Золотистый ретривер'],
                    ['Ирландский водяной спаниель','Ирландский водяной спаниель'],
                    ['Ирландский волкодав','Ирландский волкодав'],
                    ['Ирландский сеттер','Ирландский сеттер'],
                    ['Ирландский терьер','Ирландский терьер'],
                    ['Испанский мастиф','Испанский мастиф'],
                    ['Йоркширский терьер','Йоркширский терьер'],
                    ['Ка-де-бо','Ка-де-бо'],
                    ['Кавалер-кинг-чарльз-спаниель','Кавалер-кинг-чарльз-спаниель'],
                    ['Кавказская овчарка','Кавказская овчарка'],
                    ['Канарский дог','Канарский дог'],
                    ['Кангал','Кангал'],
                    ['Кане-корсо','Кане-корсо'],
                    ['Карело-финская лайка','Карело-финская лайка'],
                    ['Карельская медвежья собака','Карельская медвежья собака'],
                    ['Карликовая такса','Карликовая такса'],
                    ['Кеесхонд','Кеесхонд'],
                    ['Керн-терьер','Керн-терьер'],
                    ['Керри-блю-терьер','Керри-блю-терьер'],
                    ['Китайская хохлатая собака','Китайская хохлатая собака'],
                    ['Коикерхондье','Коикерхондье'],
                    ['Кокапу','Кокапу'],
                    ['Комондор','Комондор'],
                    ['Котон-де-тулеар','Котон-де-тулеар'],
                    ['Кроличья такса','Кроличья такса'],
                    ['Ксолоитцкуинтли','Ксолоитцкуинтли'],
                    ['Курцхаар','Курцхаар'],
                    ['Курчавошерстный ретривер','Курчавошерстный ретривер'],
                    ['Лабрадор-ретривер','Лабрадор-ретривер'],
                    ['Левретка','Левретка'],
                    ['Леонбергер','Леонбергер'],
                    ['Лхаса апсо','Лхаса апсо'],
                    ['Малинуа','Малинуа'],
                    ['Мальтийская болонка','Мальтийская болонка'],
                    ['Мальтипу','Мальтипу'],
                    ['Манчестер-терьер','Манчестер-терьер'],
                    ['Маремма-абруццкая овчарка','Маремма-абруццкая овчарка'],
                    ['Мини-бультерьер','Мини-бультерьер'],
                    ['Миттельшнауцер','Миттельшнауцер'],
                    ['Мопс','Мопс'],
                    ['Московская сторожевая','Московская сторожевая'],
                    ['Московский дракон','Московский дракон'],
                    ['Неаполитанский мастиф','Неаполитанский мастиф'],
                    ['Немецкая овчарка', 'Немецкая овчарка'],
                    ['Немецкий дог','Немецкий дог'],
                    ['Немецкий пинчер','Немецкий пинчер'],
                    ['Немецкий ягдтерьер','Немецкий ягдтерьер'],
                    ['Новошотландский ретривер','Новошотландский ретривер'],
                    ['Норвежский лундехунд','Норвежский лундехунд'],
                    ['Норвич-терьер','Норвич-терьер'],
                    ['Ньюфаундленд','Ньюфаундленд'],
                    ['Пагль','Пагль'],
                    ['Папильон','Папильон'],
                    ['Парсон-рассел-терьер','Парсон-рассел-терьер'],
                    ['Пекинес','Пекинес'],
                    ['Перуанская голая','Перуанская голая'],
                    ['Петербургская орхидея','Петербургская орхидея'],
                    ['Пиренейская горная','Пиренейская горная'],
                    ['Питбуль','Питбуль'],
                    ['Померанский шпиц','Померанский шпиц'],
                    ['Помски','Помски'],
                    ['Португальская водяная','Португальская водяная'],
                    ['Пражский крысарик','Пражский крысарик'],
                    ['Пти-брабансон','Пти-брабансон'],
                    ['Пудель','Пудель'],
                    ['Пхунсан','Пхунсан'],
                    ['Ризеншнауцер','Ризеншнауцер'],
                    ['Родезийский риджбек','Родезийский риджбек'],
                    ['Ротвейлер','Ротвейлер'],
                    ['Русская гончая','Русская гончая'],
                    ['Русская каштанка','Русская каштанка'],
                    ['Русская пегая гончая','Русская пегая гончая'],
                    ['Русская псовая борзая','Русская псовая борзая'],
                    ['Русская цветная болонка','Русская цветная болонка'],
                    ['Русский охотничий спаниель','Русский охотничий спаниель'],
                    ['Русский той-терьер','Русский той-терьер'],
                    ['Русский черный терьер','Русский черный терьер'],
                    ['Русско-европейская лайка','Русско-европейская лайка'],
                    ['Салюки','Салюки'],
                    ['Самоед','Самоед'],
                    ['Сахалинский хаски','Сахалинский хаски'],
                    ['Сенбернар','Сенбернар'],
                    ['Сиба-ину','Сиба-ину'],
                    ['Сибирский хаски','Сибирский хаски'],
                    ['Скай-терьер','Скай-терьер'],
                    ['Скотч-терьер','Скотч-терьер'],
                    ['Стаффордширский бультерьер','Стаффордширский бультерьер'],
                    ['Тайский риджбек','Тайский риджбек'],
                    ['Такса','Такса'],
                    ['Тибетский мастиф','Тибетский мастиф'],
                    ['Тибетский спаниель','Тибетский спаниель'],
                    ['Той-фокстерьер','Той-фокстерьер'],
                    ['Тоса-ину','Тоса-ину'],
                    ['Уиппет','Уиппет'],
                    ['Фараонова собака','Фараонова собака'],
                    ['Фокстерьер','Фокстерьер'],
                    ['Французский бульдог', 'Французский бульдог'],
                    ['Хотошо','Хотошо'],
                    ['Цвергпинчер','Цвергпинчер'],
                    ['Цвергшнауцер','Цвергшнауцер'],
                    ['Чау-чау','Чау-чау'],
                    ['Чесапик-бей-ретривер','Чесапик-бей-ретривер'],
                    ['Чехословацкий волчак','Чехословацкий волчак'],
                    ['Чирнеко дель Этна','Чирнеко дель Этна'],
                    ['Чихуахуа','Чихуахуа'],
                    ['Шарпей','Шарпей'],
                    ['Шелти','Шелти'],
                    ['Ши-тцу','Ши-тцу'],
                    ['Шипперке','Шипперке'],
                    ['Шотландская овчарка(колли)','Шотландская овчарка(колли)'],
                    ['Шотландский сеттер','Шотландский сеттер'],
                    ['Энтлебухер зенненхунд','Энтлебухер зенненхунд'],
                    ['Эрдельтерьер','Эрдельтерьер'],
                    ['Эстонская гончая','Эстонская гончая'],
                    ['Южнорусская овчарка','Южнорусская овчарка'],
                    ['Якутская лайка','Якутская лайка'],
                    ['Японский хин','Японский хин'],
                    ['Японский шпиц','Японский шпиц'],
                ],
                'Парнокопытные-Коровы': [
                    ['Ангусская (Абердин-ангусская)','Ангусская (Абердин-ангусская)'],
                    ['Абигар','Абигар'],
                    ['Айрширская','Айрширская'],
                    ['Акауши (Японская коричневая)','Акауши (Японская коричневая)'],
                    ['Англерская','Англерская'],
                    ['Бестужевская','Бестужевская'],
                    ['Галловейская','Галловейская'],
                    ['Герефордская','Герефордская'],
                    ['Гернзейская','Гернзейская'],
                    ['Голштинская','Голштинская'],
                    ['Горный скот Дагестана','Горный скот Дагестана'],
                    ['Джерсейская','Джерсейская'],
                    ['Истобенская','Истобенская'],
                    ['Красная датская','Красная датская'],
                    ['Красная шведская','Красная шведская'],
                    ['Красная степная','Красная степная'],
                    ['Красная горбатовская','Красная горбатовская'],
                    ['Красная тамбовская','Красная тамбовская'],
                    ['Красно-пестрая','Красно-пестрая'],
                    ['Казахская белоголовая','Казахская белоголовая'],
                    ['Калмыцкая','Калмыцкая'],
                    ['Кианская','Кианская'],
                    ['Костромская','Костромская'],
                    ['Лимузинская','Лимузинская'],
                    ['Мен-анжу','Мен-анжу'],
                    ['Монбельярдская','Монбельярдская'],
                    ['Обрак','Обрак'],
                    ['Русская комолая','Русская комолая'],
                    ['Салерс','Салерс'],
                    ['Санта-гертруда','Санта-гертруда'],
                    ['Сибирячка','Сибирячка'],
                    ['Симментальская','Симментальская'],
                    ['Суксунская','Суксунская'],
                    ['Сычевская','Сычевская'],
                    ['Тагильская','Тагильская'],
                    ['Холмогорская','Холмогорская'],
                    ['Черно-пестрая','Черно-пестрая'],
                    ['Шаролезская','Шаролезская'],
                    ['Швицкая','Швицкая'],
                    ['Шортгорнская','Шортгорнская'],
                    ['Ярославская','Ярославская'],
                    ['Якутский скот','Якутский скот'],
                ],
                'Парнокопытные-Овцы': [
                    ['Авасси','Авасси'],
                    ['Австралийский меринос','Австралийский меринос'],
                    ['Азербайджанский горный меринос','Азербайджанский горный меринос'],
                    ['Акжайыкская','Акжайыкская'],
                    ['Алтайская','Алтайская'],
                    ['Апшеронская','Апшеронская'],
                    ['Армянская полугрубошерстная','Армянская полугрубошерстная'],
                    ['Архаромеринос','Архаромеринос'],
                    ['Асканийская','Асканийская'],
                    ['Ассаф','Ассаф'],
                    ['Боререй','Боререй'],
                    ['Гемпширская','Гемпширская'],
                    ['Гиссарская','Гиссарская'],
                    ['Грубошерстная померанская','Грубошерстная померанская'],
                    ['Дегересская','Дегересская'],
                    ['Дорпер','Дорпер'],
                    ['Жанааркинская','Жанааркинская'],
                    ['Исландская','Исландская'],
                    ['Кавказская','Кавказская'],
                    ['Карабахская','Карабахская'],
                    ['Каракульская','Каракульская'],
                    ['Карачаевская','Карачаевская'],
                    ['Катумская','Катумская'],
                    ['Курдючная порода','Курдючная порода'],
                    ['Меринос','Меринос'],
                    ['Мэнский лохтан','Мэнский лохтан'],
                    ['Прекос','Прекос'],
                    ['Рамбулье','Рамбулье'],
                    ['Рацка','Рацка'],
                    ['Решетиловская','Решетиловская'],
                    ['Романовская','Романовская'],
                    ['Сараджинская','Сараджинская'],
                    ['Североевропейская короткохвостая','Североевропейская короткохвостая'],
                    ['Североказахский меринос','Североказахский меринос'],
                    ['Сокольская','Сокольская'],
                    ['Сомалийская','Сомалийская'],
                    ['Фарерская','Фарерская'],
                    ['Хиосская','Хиосская'],
                    ['Цвартблес','Цвартблес'],
                    ['Эдильбаевская','Эдильбаевская'],
                    ['Эстонская белоголовая','Эстонская белоголовая'],
                    ['Эстонская темноголовая','Эстонская темноголовая'],
                    ['Южноказахский меринос','Южноказахский меринос'],
                ],
                'Парнокопытные-Козы': [
                    ['Абергельская','Абергельская'],
                    ['Абхазская','Абхазская'],
                    ['Австралийская коричневая','Австралийская коричневая'],
                    ['Австралийская черная','Австралийская черная'],
                    ['Австралийская миниатюрная','Австралийская миниатюрная'],
                    ['Австралийская зааненская','Австралийская зааненская'],
                    ['Аданайская','Аданайская'],
                    ['Адани','Адани'],
                    ['Азербайджанская грубошерстная','Азербайджанская грубошерстная'],
                    ['Азпи-горри','Азпи-горри'],
                    ['Акьябская','Акьябская'],
                    ['Аквильская','Аквильская'],
                    ['Алашаньская пуховая','Алашаньская пуховая'],
                    ['Албанская','Албанская'],
                    ['Албанская альпина','Албанская альпина'],
                    ['Албас','Албас'],
                    ['Алгарвиа','Алгарвиа'],
                    ['Альпийская','Альпийская'],
                    ['Альпийская коричневая','Альпийская коричневая'],
                    ['Альпина полихрома','Альпина полихрома'],
                    ['Алтайская горная','Алтайская горная'],
                    ['Алтайская красная','Алтайская красная'],
                    ['Аморгосская','Аморгосская'],
                    ['Анатолийская черная','Анатолийская черная'],
                    ['Андалузская черная горная','Андалузская черная горная'],
                    ['Англо-нубийская','Англо-нубийская'],
                    ['Ангорская','Ангорская'],
                    ['Аппенцелльская','Аппенцелльская'],
                    ['Арабская Иран','Арабская Иран'],
                    ['Арабская Алжир','Арабская Алжир'],
                    ['Аравийская','Аравийская'],
                    ['Аранитасская белобокая','Аранитасская белобокая'],
                    ['Аридейская','Аридейская'],
                    ['Армянская грубошерстная','Армянская грубошерстная'],
                    ['Ардийская','Ардийская'],
                    ['Арси-Балеская','Арси-Балеская'],
                    ['Асмарская','Асмарская'],
                    ['Аспромонтская','Аспромонтская'],
                    ['Ассам-хилл','Ассам-хилл'],
                    ['Асвадская','Асвадская'],
                    ['Афарская','Афарская'],
                    ['Африканский пигмей','Африканский пигмей'],
                    ['Ахтальская','Ахтальская'],
                    ['Белая русская','Белая русская'],
                    ['Бёрская','Бёрская'],
                    ['Бенгальская','Бенгальская'],
                    ['Бушская','Бушская'],
                    ['Баварская лесная','Баварская'],
                    ['Бади','Бади'],
                    ['Бетал','Бетал'],
                    ['Баракеская','Баракеская'],
                    ['Балканская','Балканская'],
                    ['Бургунская','Бургунская'],
                    ['Бурятская','Бурятская'],
                    ['Бьяла','Бьяла'],
                    ['Валашская','Валашская'],
                    ['Вахшская',''],
                    ['Вятская',''],
                    ['Витебская',''],
                    ['Восточно-африканская',''],
                    ['Венгерская',''],
                    ['Визацкая',''],
                    ['Вишнёвская',''],
                    ['Вади',''],
                    ['Виттель',''],
                    ['Ванская',''],
                    ['Гёргенская',''],
                    ['Гранада',''],
                    ['Германская белая благородная',''],
                    ['Гуджарати',''],
                    ['Ганди',''],
                    ['Гёйгёльская',''],
                    ['Гассанская',''],
                    ['Галлийская',''],
                    ['Гассаба',''],
                    ['Гиссарская',''],
                    ['Галлуресская',''],
                    ['Гаргеру',''],
                    ['Гаргарская',''],
                    ['Дамасская',''],
                    ['Донская',''],
                    ['Джамнапари',''],
                    ['Дорсет',''],
                    ['Джакоб',''],
                    ['Дагестанская',''],
                    ['Давлет',''],
                    ['Дарлагская',''],
                    ['Дельта',''],
                    ['Дейримская',''],
                    ['Джабал Наффаса',''],
                    ['Диарбекская',''],
                    ['Денг',''],
                    ['Египетская',''],
                    ['Ербешка',''],
                    ['Енисейская',''],
                    ['Едильбайская',''],
                    ['Еме',''],
                    ['Евроазиатская',''],
                    ['Еленина',''],
                    ['Ёнченгская',''],
                    ['Жезказганская',''],
                    ['Жупа',''],
                    ['Жуа',''],
                    ['Жабарская',''],
                    ['Зааненская',''],
                    ['Занзибарская',''],
                    ['Залакарайская',''],
                    ['Землянская ',''],
                    ['Загорская белая ',''],
                    ['Зулусская',''],
                    ['Зее',''],
                    ['Зугская',''],
                    ['Испанская',''],
                    ['Ивдельская',''],
                    ['Иллирийская',''],
                    ['Иранская',''],
                    ['Ишковская',''],
                    ['Исаки',''],
                    ['Ибаррская',''],
                    ['Ик',''],
                    ['Иль де Франс',''],
                    ['Камерунская',''],
                    ['Калахарская красная',''],
                    ['Кашмирская',''],
                    ['Кико',''],
                    ['Карликовая нигерийская',''],
                    ['Курдская',''],
                    ['Кубанская',''],
                    ['Карачаевская',''],
                    ['Кипрская',''],
                    ['Кабардинская',''],
                    ['Катта',''],
                    ['Катчхи',''],
                    ['Каннури',''],
                    ['Кахетинская',''],
                    ['Кашгарская',''],
                    ['Караманская',''],
                    ['Кулюкская',''],
                    ['Кунальская',''],
                    ['Каргалинская',''],
                    ['Ламанча ',''],
                    ['Лаконская',''],
                    ['Латвийская',''],
                    ['Лесная',''],
                    ['Левантинская',''],
                    ['Литовская белая',''],
                    ['Липицкая',''],
                    ['Лал',''],
                    ['Лабитанская',''],
                    ['Ларистанская',''],
                    ['Ламбрук',''],
                    ['Лакская',''],
                    ['Линда',''],
                    ['Мурсийская',''],
                    ['Мехсана',''],
                    ['Малагская',''],
                    ['Матти',''],
                    ['Манипурская',''],
                    ['Мозамбикская',''],
                    ['Мальтийская',''],
                    ['Монгольская',''],
                    ['Мегрельская',''],
                    ['Морская',''],
                    ['Маарда',''],
                    ['Мандаре',''],
                    ['Мбути',''],
                    ['Минусинская',''],
                    ['Мангала',''],
                    ['Мура',''],
                    ['Майпурская',''],
                    ['Миньянская',''],
                    ['Миау',''],
                    ['Мусала',''],
                    ['Нагрийская',''],
                    ['Нигерийская карликовая',''],
                    ['Нубийская',''],
                    ['Непальская',''],
                    ['Норвежская',''],
                    ['Нанги',''],
                    ['Нанггинг',''],
                    ['Нум',''],
                    ['Н’Гала',''],
                    ['Оберхазли',''],
                    ['Оренбургская',''],
                    ['Оахская',''],
                    ['Орловская',''],
                    ['Одишанская',''],
                    ['Окахаи',''],
                    ['Олимбикская',''],
                    ['Ошская',''],
                    ['Овчепольская',''],
                    ['Пуштунская',''],
                    ['Пиренейская',''],
                    ['Пакистанская',''],
                    ['Придонская',''],
                    ['Пенджабская',''],
                    ['Пуатевинская',''],
                    ['Пейнт',''],
                    ['Панджа',''],
                    ['Парват',''],
                    ['Персидская',''],
                    ['Пиндская',''],
                    ['Пьянская',''],
                    ['Польская',''],
                    ['Полоцкая',''],
                    ['Российская пуховая',''],
                    ['Резенская',''],
                    ['Ровигна',''],
                    ['Российская горная',''],
                    ['Романская',''],
                    ['Раджстхани',''],
                    ['Риби',''],
                    ['Раику',''],
                    ['Рама',''],
                    ['Рат',''],
                    ['Рупская',''],
                    ['Регенская',''],
                    ['Ронская',''],
                    ['Салерно',''],
                    ['Санкхен',''],
                    ['Савойская',''],
                    ['Сирийская',''],
                    ['Саби',''],
                    ['Сардинская',''],
                    ['Сицилийская',''],
                    ['Сокото',''],
                    ['Сурати',''],
                    ['Сахель',''],
                    ['Саниенская',''],
                    ['Сарда',''],
                    ['Севернокавказская',''],
                    ['Сен-Гейн',''],
                    ['Свадебная',''],
                    ['Синди',''],
                    ['Севастопольская',''],
                    ['Сакар',''],
                    ['Сум',''],
                    ['Симба',''],
                    ['Скриери',''],
                    ['Тоггенбургская ',''],
                    ['Телинская',''],
                    ['Тувинская',''],
                    ['Туркменская',''],
                    ['Тайская',''],
                    ['Тибетская',''],
                    ['Тракийская',''],
                    ['Татарская',''],
                    ['Той',''],
                    ['Тель',''],
                    ['Тари',''],
                    ['Теруй',''],
                    ['Тамбукская',''],
                    ['Танская',''],
                    ['Удмуртская','Удмуртская'],
                    ['Узбекская','Узбекская'],
                    ['Украинская белая','Украинская белая'],
                    ['Уральская','Уральская'],
                    ['Уфимская','Уфимская'],
                    ['Укумбайская','Укумбайская'],
                    ['Уссурийская','Уссурийская'],
                    ['Финская','Финская'],
                    ['Филиппинская','Филиппинская'],
                    ['Фрибуржская','Фрибуржская'],
                    ['Фалабелла','Фалабелла'],
                    ['Хангайская','Хангайская'],
                    ['Халкай','Халкай'],
                    ['Хердская','Хердская'],
                    ['Химачали','Химачали'],
                    ['Ходжа','Ходжа'],
                    ['Хинди','Хинди'],
                    ['Хейхуа','Хейхуа'],
                    ['Хевсурская','Хевсурская'],
                    ['Хансунская','Хансунская'],
                    ['Чаппара','Чаппара'],
                    ['Черная бенгальская','Черная бенгальская'],
                    ['Чигу','Чигу'],
                    ['Чегетуйская','Чегетуйская'],
                    ['Чумбе','Чумбе'],
                    ['Читтагонгская','Читтагонгская'],
                    ['Чилийская','Чилийская'],
                    ['Черекская','Черекская'],
                    ['Чаросская','Чаросская'],
                    ['Швейцарская','Швейцарская'],
                    ['Шандунская','Шандунская'],
                    ['Ширазская','Ширазская'],
                    ['Шами','Шами'],
                    ['Шугнанская','Шугнанская'],
                    ['Шерстистая кашмирская','Шерстистая кашмирская'],
                    ['Шахджаханпурская','Шахджаханпурская'],
                    ['Шубарская','Шубарская'],
                    ['Шенгенская','Шенгенская'],
                    ['Шефский','Шефский'],
                    ['Эстонская','Эстонская'],
                    ['Эльзасская','Эльзасская'],
                    ['Эфиопская','Эфиопская'],
                    ['Югославская','Югославская'],
                    ['Южноафриканская','Южноафриканская'],
                    ['Южная нубийская','Южная нубийская'],
                    ['Южноалтайская','Южноалтайская'],
                    ['Юньнаньская','Юньнаньская'],
                    ['Южногреческая','Южногреческая'],
                    ['Якутская','Якутская'],
                    ['Ярославская','Ярославская'],
                ],
                'Парнокопытные-Буйволы': [
                    ['Азиатский речной','Азиатский речной'],
                    ['Африканский','Африканский'],
                ],
                'Парнокопытные-Дромедары': [
                    ['Австралийский','Австралийский'],
                    ['Африканский','Африканский'],
                    ['Ближневосточный','Ближневосточный'],
                ],
                'Парнокопытные-Бактрианы': [
                    ['Казахский','Казахский'],
                    ['Калмыцкий','Калмыцкий'],
                    ['Китайский','Китайский'],
                    ['Монгольский','Монгольский'],
                ],
                'Парнокопытные-Ламы': [
                    ['Кхара','Кхара'],
                    ['Сульти','Сульти'],
                    ['Чакку','Чакку'],
                ],
                'Парнокопытные-Альпаки': [
                    ['Сури','Сури'],
                    ['Уакайа','Уакайа'],
                ],
                'Парнокопытные-Северные олени': [
                    ['Ненецкий','Ненецкий'],
                    ['Чукотский','Чукотский'],
                    ['Эвенский','Эвенский'],
                    ['Эвенкийский','Эвенкийский'],
                ],
                'Непарнокопытные': [
                    ['',''],
                    ['',''],
                    ['',''],
                ],
                'Кролики': [
                    ['',''],
                    ['',''],
                    ['',''],
                ],
                'Грызуны': [
                    ['Хомяк', 'Хомяк'],
                    ['Крыса', 'Крыса'],
                    ['Морская свинка', 'Морская свинка'],
                ],
                'Фретка': [
                    ['',''],
                    ['',''],
                    ['',''],
                ],
                'Птицы-курообразные': [
                    ['', ''],
                    ['', ''],
                    ['', ''],
                ],
                'Птицы-гусеобразные': [
                    ['', ''],
                    ['', ''],
                    ['', ''],
                ],
                'Птицы-голубеобразные': [
                    ['', ''],
                    ['', ''],
                    ['', ''],
                ],
                'Рептилии': [
                    ['Игуана', 'Игуана'],
                    ['Удав', 'Удав'],
                    ['Черепаха', 'Черепаха'],
                ],
                'Другое': [
                    ['Другое', 'Другое'],
                ],
            };

            function updateFamilyChoices(){
                const selectedCategory = categorySelect.value;
                familySelect.innerHTML = '';

                const defaultOption = document.createElement('option');
                defaultOption.value = "";
                defaultOption.textContent = "---------";
                defaultOption.selected = true;
                familySelect.appendChild(defaultOption);

                familyChoices[selectedCategory].forEach(function(choice) {
                    const option = document.createElement('option');
                    option.value = choice[0];
                    option.textContent = choice[1];
                    familySelect.appendChild(option);
                });
            }

            function updateBreedChoices() {
                const selectedFamily = familySelect.value;
                breedSelect.innerHTML = '';

                const defaultOption = document.createElement('option');
                defaultOption.value = "";
                defaultOption.textContent = "---------";
                defaultOption.selected = true;
                breedSelect.appendChild(defaultOption);

                breedChoices[selectedFamily].forEach(function(choice) {
                    const option = document.createElement('option');
                    option.value = choice[0];
                    option.textContent = choice[1];
                    breedSelect.appendChild(option);
                });
            }
            
            categorySelect.addEventListener('change', updateFamilyChoices);
            familySelect.addEventListener('change', updateBreedChoices);
            updateFamilyChoices();
            updateBreedChoices();
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class=".form-container">
            <a class="navbar-brand"
                th:href="@{/index}">
                ВИРТУАЛЬНЫЙ ПОМОЩНИК ВОЛОНТЕРА
            </a>
            <div>
                {% if user.is_authenticated %}
                    <a class="navbar-brand navbar-button"
                        href="{% url 'profile' %}">
                        Личный кабинет
                    </a>
                    <a class="navbar-brand navbar-button"
                        href="{% url 'logout' %}">
                        Выйти
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="form-container">
        <h2>Создать питомца</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <ul class="errorlist">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <label for="id_name">{{ form.name.label }}</label>
            {{ form.name }}
            <small>{{ form.name.help_text }}</small>

            <label for="id_photo">{{ form.photo.label }}</label>
            {{ form.photo }}
            <small>{{ form.photo.help_text }}</small>

            <label for="id_category">{{ form.category.label }}</label>
            {{ form.category }}
            <small>{{ form.category.help_text }}</small>

            <label for="id_family">{{ form.family.label }}</label>
            {{ form.family }}
            <small>{{ form.family.help_text }}</small>

            <label for="id_breed">{{ form.breed.label }}</label>
            {{ form.breed }}
            <small>{{ form.breed.help_text }}</small>

            <label for="id_gender">{{ form.gender.label }}</label>
            {{ form.gender }}
            <small>{{ form.gender.help_text }}</small>

            <label for="id_size">{{ form.size.label }}</label>
            {{ form.size }}
            <small>{{ form.size.help_text }}</small>

            <label for="id_arrival_date">{{ form.arrival_date.label }}</label>
            {{ form.arrival_date }}
            <small>{{ form.arrival_date.help_text }}</small>

            <label for="id_vet_assignment">{{ form.vet_assignment.label }}</label>
            {{ form.vet_assignment }}
            <small>{{ form.vet_assignment.help_text }}</small>

            <div class="element_3"></div>
            <button class="button"
                    type="submit">
                    Создать
            </button>
            <div class="element_3"></div>
            <button class="button"
                    onclick="window.location.href='{% url 'shelter_detail' shelter_id=shelter.id %}'">
                    Вернуться к приюту
            </button>
        </form>
    </div>
</body>
</html>