<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        @font-face {
            font-family: 'Soyuz Grotesk';
            src: url('{% static "fonts/SoyuzGroteskBold.otf" %}') format('opentype');
            font-weight: bold;
            font-style: normal;
        }
        body, h1, h2, h3, h4, h5, h6, p, a, button {
            font-family: 'Soyuz Grotesk', sans-serif;
        }
    </style>
</head>
<body>
    <h2>Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
