<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Done</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        @font-face {
            font-family: 'Soyuz Grotesk';
            src: url('{% static "fonts/SoyuzGroteskBold.otf" %}') format('opentype');
            font-weight: bold;
            font-style: normal;
        }
        body, h1, h2, h3, h4, h5, h6, p, a, button {
            font-family: 'Soyuz Grotesk', sans-serif;
        }
    </style>
</head>
<body>
    <h2>Password Reset Done</h2>
    <p>We have emailed you instructions for setting your password. If you do not receive an email, please make sure you have entered the address you registered with, and check your spam folder.</p>
</body>
</html>
