<!DOCTYPE html>
<html>
<head>
    <title>Поиск приютов</title>
    
</head>
<body>
    <h2>Поиск приютов</h2>
    <form method="get" action="{% url 'search_shelters' %}">
        <input type="text" name="q" placeholder="Поиск приютов..." value="{{ query }}">
        <button type="submit">Поиск</button>
    </form>
    <ul>
        {% for shelter in shelters %}
            <li>
                <h3><a href="{% url 'shelter_detail' shelter.id %}">{{ shelter.name }}</a></h3>
                <p>{{ shelter.address }}</p>
                <p>{{ shelter.description }}</p>
                {% if shelter.photo %}
                    <img src="{{ shelter.photo.url }}" alt="{{ shelter.name }}" style="max-width: 200px;">
                {% endif %}
                <div class="buttons">
                    {% if shelter.id not in user_shelters %}
                    <button onclick="window.location.href='{% url 'join_shelter' shelter.id %}'">Присоединиться</button>
                    {% else %}
                        <p>Вы уже являетесь членом этого приюта.</p>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

