<!DOCTYPE html>
<html>
<head>
    <title>Мои приюты</title>
</head>
<body>
    <h2>Мои приюты</h2>
    <button onclick="window.location.href='{% url 'create_shelter' %}'">Создать новый приют</button>
    <button onclick="window.location.href='{% url 'search_shelters' %}'">Поиск приютов</button>
    <ul>
        {% for shelter in shelters %}
            <li>
                <h3><a href="{% url 'shelter_detail' shelter.id %}">{{ shelter.name }}</a></h3>
                <p>{{ shelter.address }}</p>
                <p>{{ shelter.description }}</p>
                {% if shelter.photo %}
                    <img src="{{ shelter.photo.url }}" alt="{{ shelter.name }}" style="max-width: 200px;">
                {% endif %}
                <div class="buttons">
                    <button onclick="window.location.href='{% url 'edit_shelter' shelter.id %}'">Изменить</button>
                    <button onclick="window.location.href='{% url 'delete_shelter' shelter.id %}'">Удалить</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

